[Trigger]
Operation = Install
Operation = Upgrade
Type = Package
Target = linux
Target = linux-lts
Target = linux-hardened
Target = linux-zen
Target = linux-xanmod
Target = linux-xanmod-cacule
Target = linux-xanmod-git
Target = linux-xanmod-lts
Target = linux-xanmod-rt
Target = linux-xanmod-anbox

[Action]
Description = Signing Kernel and GRUB for Secure Boot
When = PostTransaction
Exec = /usr/bin/sbctl sign /boot/vmlinuz-linux-zen && /usr/bin/sbctl sign /boot/grub/x86_64-efi/core.efi && /usr/bin/sbctl sign /boot/grub/x86_64-efi/grub.efi && /usr/bin/sbctl sign /boot/efi/EFI/GRUB/grubx64.efi
Depends = sbctl
