---
############################################################
# KDE Plasma Core
############################################################

- name: Install KDE Plasma core packages
  community.general.pacman:
    name:
      - plasma-desktop
      - plasma-workspace
      - plasma-nm
      - plasma-pa
      - qt6-tools
    state: present
    update_cache: true
  become: true
  retries: 5


############################################################
# KDE Themes & Integration
############################################################

- name: Install KDE themes and integration
  community.general.pacman:
    name:
      - breeze
      - breeze-gtk
      - kde-gtk-config
      - kdecoration
    state: present
  become: true
  retries: 5


############################################################
# Power & Portal
############################################################

- name: Install power management and portals
  community.general.pacman:
    name:
      - powerdevil
      - xdg-desktop-portal-kde
      - power-profiles-daemon
    state: present
  become: true
  retries: 5


############################################################
# KDE System Tools + Display Manager
############################################################

- name: Install KDE system tools
  community.general.pacman:
    name:
      - kwrited
      - kwin
      - kgamma
      - kinfocenter
      - kscreen
      - systemsettings
      - libnotify
      - konqueror
    state: present
  become: true
  retries: 5

- name: Install SDDM 
  community.general.pacman:
    name:
      - sddm
      - sddm-kcm
    state: present
  when: os == "arch"
  become: true
  retries: 5


- name: Install SDDM 
  community.general.pacman:
    name:
      - sddm-openrc
      - sddm-kcm
    state: present
  when: os == "artix"
  become: true
  retries: 5

############################################################
# ===================== XORG Packages =====================
############################################################

- name: Install Xorg packages
  community.general.pacman:
    name:
      - xorg-server
      - xorg-xrandr
      - xorg-xdpyinfo 
      - xorg-xprop 
      - xorg-xwininfo 
      - xdotool
      - wmctrl
      - plasma-x11-session
    state: present
    update_cache: true
  become: true
  retries: 5

############################################################
# ===================== WAYLAND Packages ==================
############################################################

- name: Install Wayland core packages
  community.general.pacman:
    name:
      - plasma-wayland-protocols
      - wayland
      - wayland-protocols
      - xorg-xwayland
      - qt6-wayland
      - egl-wayland
      - wl-clipboard
    state: present
  become: true
  retries: 5

############################################################
# ===================== System Applications ===============
############################################################

- name: Install KDE applications
  community.general.pacman:
    name:
      - dolphin
      - ark
      - gwenview
      - okular
    state: present
  become: true
  retries: 5

- name: Install audio control utilities
  community.general.pacman:
    name:
      - pulsemixer
      - pamixer
    state: present
  become: true
  retries: 5

- name: Install brightness control
  community.general.pacman:
    name: 
      - brightnessctl
    state: present
  become: true
  retries: 5

############################################################
# Update XDG User Directories
############################################################

- name: Update XDG user directories
  ansible.builtin.command: xdg-user-dirs-update
  changed_when: false

############################################################
# Update Mime types
############################################################

- name: Download default media player script
  ansible.builtin.get_url:
    url: https://gist.githubusercontent.com/acrisci/b264c4b8e7f93a21c13065d9282dfa4a/raw/8c2b2a57ac74c2fd7c26d02d57203cc746e7d3cd/default-media-player.sh
    dest: /tmp/default-media-player.sh
    mode: "0755"
  retries: 5

- name: Set mpv as default media player
  ansible.builtin.command: bash /tmp/default-media-player.sh mpv.desktop
  args:
    creates: "{{ ansible_env.HOME }}/.config/mimeapps.list"

- name: Ensure mimeapps.list exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/mimeapps.list"
    state: touch

- name: Set Dolphin as default file manager
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.config/mimeapps.list"
    regexp: '^inode/directory='
    line: 'inode/directory=dolphin.desktop'

- name: Set Brave as default browser
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.config/mimeapps.list"
    regexp: '^x-scheme-handler/http='
    line: 'x-scheme-handler/http=brave-browser.desktop'

- name: Set Brave as default HTTPS handler
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/.config/mimeapps.list"
    regexp: '^x-scheme-handler/https='
    line: 'x-scheme-handler/https=brave-browser.desktop'

############################################################
# Install redshift,bemenu,autost
############################################################

- name: Install redshift
  community.general.pacman:
    name: 
      - redshift
    state: present
  become: true
  retries: 5

- name: Run bemenu help.sh for wayland
  ansible.builtin.command: ./help.sh wayland
  args:
    chdir: "{{ ansible_env.HOME }}/.dotfiles/configs/bemenu-app"
    creates: "{{ ansible_env.HOME }}/.dotfiles/configs/bemenu-app/bemenu"
  become: false

- name: Copy bemenu-app directory to /usr/local/bin
  ansible.builtin.shell:
    "cp -r '{{ ansible_env.HOME }}/.dotfiles/configs/bemenu-app' /usr/local/bin"
  become: true

- name: Symlink bemenu binary
  ansible.builtin.file:
    src: /usr/local/bin/bemenu-app/bemenu
    dest: /usr/local/bin/bemenu
    state: link
  become: true

- name: Symlink bemenu-run binary
  ansible.builtin.file:
    src: /usr/local/bin/bemenu-app/bemenu-run
    dest: /usr/local/bin/bemenu-run
    state: link
  become: true

- name: Clone autost
  ansible.builtin.git:
    repo: https://github.com/glowfi/autost
    dest: /tmp/autost
    depth: 1
  retries: 5

- name: Build autost
  ansible.builtin.command: go build -o autost ./main.go
  args:
    chdir: /tmp/autost
    creates: /tmp/autost/autost
  environment:
    PATH: "{{ ansible_env.HOME }}/.local/bin/golang/bin:{{ ansible_env.PATH }}"

- name: Install autost binary
  ansible.builtin.copy:
    src: /tmp/autost/autost
    dest: /usr/local/bin/autost
    mode: "0755"
    remote_src: true
  become: true

- name: Ensure autost config directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/autost"
    state: directory
    mode: "0755"

- name: Deploy autost config
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.dotfiles/configs/autost/config.yaml"
    dest: "{{ ansible_env.HOME }}/.config/autost/config.yaml"
    mode: "0644"
    remote_src: true

- name: Ensure autostart directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/autostart"
    state: directory
    mode: "0755"

- name: Deploy autostart desktop file
  ansible.builtin.copy:
    src: "/tmp/autost/Autostart.desktop"
    dest: "{{ ansible_env.HOME }}/.config/autostart"
    mode: "0644"
    remote_src: true

- name: Remove autost source
  ansible.builtin.file:
    path: /tmp/autost
    state: absent

############################################################
# Copy Xresources
############################################################

- name: Copy .Xresources
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.dotfiles/configs/.Xresources"
    dest: "{{ ansible_env.HOME }}/.Xresources"
    mode: "0644"
    remote_src: true

############################################################
# Copy Plasma settings
############################################################

- name: Move files into .config
  ansible.builtin.shell: |
    mv "{{ ansible_env.HOME }}/*" "{{ ansible_env.HOME }}/.config"

- name: Copy wall.sh to ~/.local/bin
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.dotfiles/scripts/wall.sh"
    dest: "{{ ansible_env.HOME }}/.local/bin"
    mode: "0755"
    remote_src: true

############################################################
# Install Hotkey Daemon
############################################################

- name: Add user to input group
  user:
    name: "{{ ansible_user }}"
    groups: input
    append: true
  become: true

- name: Clone ghkd
  ansible.builtin.git:
    repo: https://github.com/glowfi/ghkd
    dest: /tmp/ghkd
    depth: 1
  retries: 5

- name: Build ghkd
  ansible.builtin.command: go build -o ghkd ./main.go
  args:
    chdir: /tmp/ghkd
    creates: /tmp/ghkd/ghkd
  environment:
    PATH: "{{ ansible_env.HOME }}/.local/bin/golang/bin:{{ ansible_env.PATH }}"

- name: Install ghkd binary
  ansible.builtin.copy:
    src: /tmp/ghkd/ghkd
    dest: /usr/local/bin/ghkd
    mode: "0755"
    remote_src: true
  become: true

- name: Remove ghkd source
  ansible.builtin.file:
    path: /tmp/ghkd
    state: absent

- name: Ensure ghkd config directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.config/ghkd"
    state: directory
    mode: "0755"

- name: Deploy ghkd config
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/.dotfiles/configs/ghkd/config.yaml"
    dest: "{{ ansible_env.HOME }}/.config/ghkd/config.yaml"
    mode: "0644"
    remote_src: true

############################################################
# Plasma looks and optimization
############################################################

- name: Set Plasma theme
  ansible.builtin.command: >
    kwriteconfig6 --file kdeglobals
    --group KDE
    --key LookAndFeelPackage
    org.kde.breezedark.desktop
  become: true
  become_user: "{{ ansible_user }}"

- name: Disable KWallet
  ansible.builtin.command: >
    kwriteconfig6 --file kwalletrc
    --group Wallet
    --key Enabled false
  become: true
  become_user: "{{ ansible_user }}"

- name: Disable KWallet first use
  ansible.builtin.command: >
    kwriteconfig6 --file kwalletrc
    --group Wallet
    --key "First Use" false
  become: true
  become_user: "{{ ansible_user }}"

- name: Remove kwallet dbus service
  ansible.builtin.file:
    path: /usr/share/dbus-1/services/org.kde.kwalletd6.service
    state: absent
  become: true

- name: Set SDDM theme to breeze
  community.general.ini_file:
    path: /etc/sddm.conf
    section: Theme
    option: Current
    value: breeze
  become: true

############################################################
# Enable SDDM, power-profiles-daemon
############################################################

- name: Enable SDDM
  ansible.builtin.service:
    name: sddm
    enabled: true
  become: true

- name: Enable power profiles daemon
  ansible.builtin.service:
    name: power-profiles-daemon
    enabled: true
  become: true
