---
- name: Create fresh GPT partition table
  ansible.builtin.command: >
    sgdisk
    --zap-all
    --clear
    --mbrtogpt
    {{ disk }}

- name: Create EFI partition
  ansible.builtin.command: >
    sgdisk
    --new=1:0:+1G
    --typecode=1:ef00
    --change-name=1:EFI
    {{ disk }}

- name: Create root partition
  ansible.builtin.command: >
    sgdisk
    --new=2:0:0
    --typecode=2:8300
    --change-name=2:Linux
    {{ disk }}
  when: not encrypt_disk

- name: Create root partition
  ansible.builtin.command: >
    sgdisk
    --new=2:0:0
    --typecode=2:8309
    --change-name=2:Linux
    {{ disk }}
  when: encrypt_disk

- name: Inform kernel of partition table changes
  ansible.builtin.command: partprobe {{ disk }}

