#_                   _            
# (_)_ __  _ __  _   _| |_ _ __ ___ 
# | | '_ \| '_ \| | | | __| '__/ __|
# | | | | | |_) | |_| | |_| | | (__ 
# |_|_| |_| .__/ \__,_|\__|_|  \___|
#         |_|                       


$include /etc/inputrc
set completion-ignore-case on
set completion-query-items -1
set show-all-if-unmodified on
set show-all-if-ambiguous off
set colored-completion-prefix on
set colored-stats on
set visible-stats on
"\C-j": menu-complete
"\C-k": menu-complete-backward
