- name: Enable sudo insults
  ansible.builtin.lineinfile:
    path: /mnt/etc/sudoers
    regexp: '^Defaults\s+insults'
    line: 'Defaults insults'
    state: present
    validate: 'visudo -cf %s'

- name: Ensure NetworkManager conf.d exists
  ansible.builtin.file:
    path: /mnt/etc/NetworkManager/conf.d
    state: directory

- name: Disable wifi powersave
  ansible.builtin.copy:
    dest: /mnt/etc/NetworkManager/conf.d/wifi-powersave.conf
    content: |
      [connection]
      wifi.powersave = 2
    mode: "0644"

- name: Fix fstab for Timeshift (remove subvolid)
  ansible.builtin.replace:
    path: /mnt/etc/fstab
    regexp: 'subvolid=[^,]*,?'
    ansible.builtin.replace: ''
  when: file_system == "btrfs"

- name: Enable OpenRC services
  pacman_bootstrap:
    ansible.builtin.command: rc-update add {{ item }} default
    chroot_mountpoint: /mnt
  loop:
    - NetworkManager
    - acpid
    - backlight
    - syslog-ng
  when: os == "artix"

- name: Enable systemd services
  pacman_bootstrap:
    ansible.builtin.command: systemctl enable {{ item }}
    chroot_mountpoint: /mnt
  loop:
    - NetworkManager
    - reflector.timer
    - acpid
  when: os == "arch"
