---
- name: Set timezone
  file:
    src: "/usr/share/zoneinfo/{{ timezone }}"
    dest: "/mnt/etc/localtime"
    state: link
    force: true

- name: Sync hardware clock
  pacman_bootstrap:
    command: "hwclock --systohc"
    chroot_mountpoint: /mnt
